/* styles.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    align-content: center;
    overflow-x: hidden; /* Prevent horizontal scroll */ 
}

/* Container styles */
.container {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 0 20px; 
    vertical-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Header styles */
header {
    background: #333;
    color: #fff;
    padding: 30px 0;
    border-bottom: #ff6f61 3px solid;
    animation: fadeIn 1s ease-in-out;
}

header h1 {
    text-align: center;
    margin-bottom: 10px;
}

header p {
    text-align: center;
    font-size: 1.1em;
}

header a {
    color: #ff6f61;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    color: #fff;
}

/* Main content styles */
main {
    padding: 20px 20px;
    align-content: center;
    max-width:800px;
}

section {
    margin: 0 1em;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

section:nth-child(even) {
    animation-delay: 0.7s;
}

section h2 {
    font-size: 1.8em;
    margin: 0 5px;
    margin-bottom: 20px;
    color: #ff6f61;
    text-transform: uppercase;
}

.item {
    margin-bottom: 20px;
    animation: slideUp 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 1s;
}

.item h3 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 5px;
}

.item .date {
    font-size: 0.9em;
    color: #777;
}

.item p {
    margin-bottom: 10px;
}

.item ul {
    list-style-type: disc;
    margin-left: 20px;
}

.item ul li {
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1.3s;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    animation: fadeIn 1s ease-in-out;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.5em;
    }

    .item h3 {
        font-size: 1.2em;
    }
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
